*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width:100vw;
    height: 100vh;

    background-color: #2A3439;
}
header{
    width: min-content;
    padding: 2vh 5vw;
    background-color: cadetblue;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5vw;
}
h2{
    text-align: center;
    min-width: 10vw;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;

    /* height: 90vh; */
}

.enemy,.player{
    background-color: cadetblue;
    width: 60vh;
    height: 60vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;

    padding: 0.5vw;
    border-radius: 0.5vw;
}

footer{
    width: 100vw;
    height: 10vh;

    background-color: greenyellow;
}
.container{
    width: 85%;
    height: 85%;

    display: grid;
    grid: repeat(10,1fr) / repeat(10,1fr);
}
.board{
    background-color: rgb(4, 219, 198);
    border: 0.5px dashed rgba(0, 0, 0, 0.558);
}

.board:hover{
    background-color: rgb(2, 150, 135);
}
.hit{
    background-color: rgb(176, 3, 3);
}
.hit:hover{
    background-color: rgb(108, 0, 0);
}
.miss{
    background-color: rgb(3, 89, 176);
}
.miss:hover{
    background-color: rgb(0, 61, 122);
}
.ship{
    background-color: rgb(3, 176, 69);
}
.ship:hover{
    background-color: rgb(0, 116, 45);
}
.playerLeft,.enemyLeft{
    position: absolute;
    top: 1vw;
    padding: 1vw;
    background-color: cadetblue;
    border-radius: 0.5vw;
}
.enemyLeft{
    left: 1vw;
}
.playerLeft{
    right: 1vw;
}


